.link-firefish {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.link-nextcloud {
  background: rgb(47, 133, 231);
  background: linear-gradient(
    90deg,
    rgb(21, 183, 247) 0%,
    rgb(100, 125, 209) 100%,
    rgb(125, 240, 248) 50%
    
  );
}

.link-funkwhale {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgb(79, 136, 211) 0%,
    rgb(87, 137, 179) 50%,
    rgb(57, 169, 177) 100%
  );
}